.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
}


